/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/resources/docs
/public/api
!/public/assets/js/viewport-units-buggyfill.js
/public/build
/public/page-cache
/build/doctum/build
/build/doctum/cache
/build/doctum/laravel
/build/doctum/vendor
.DS_Store
Thumbs.db
package-lock.json
